<div class="container">
  <input
    matInput
    type="text"
    [formControl]="searchControl"
    class="w-100 my-3 input-search"
    placeholder="Search with @username + tag"
  />
</div>
<div class="container">
  <h1 class="search-value">{{ searchValue || "Trending " }} GIFs</h1>
</div>
<div
  infiniteScroll
  (scrolled)="loadMore()"
  class="d-flex flex-wrap container m-auto justify-content-center align-items-start w-75"
>
  <item-gif
    [routerLink]="['/gif/detail', gif.id]"
    style="position: relative"
    *ngFor="let gif of (gifs$ | async)?.data || []"
    [gif]="gif"
  ></item-gif>
</div>
