<nav class="py-2 nav-bar" *ngIf="mode$ | async as mode">
  <div
    class="w-100 d-flex justify-content-between container align-items-center"
  >
    <a [routerLink]="['/gif/list']"
      ><img
        [src]="
          'assets/logo/pi-logo-name' +
          (mode === 'dark' ? '-dark-mode' : '') +
          '.png'
        "
        alt=""
        class="col-2 p-0"
    /></a>
    <div class="d-flex contact align-items-center">
      <a href="https://www.linkedin.com/in/truongvh/" target="_blank">
        <i
          class="fa fa-linkedin-square"
          aria-hidden="true"
          [class]="mode === 'dark' ? 'linkedin-dark' : 'linkedin-light'"
        ></i>
      </a>
      <a href="https://gitlab.com/vuhuutruong080999" target="_blank">
        <i
          class="fa fa-gitlab"
          aria-hidden="true"
          [class]="mode === 'dark' ? 'git-dark' : 'git-light'"
        ></i>
      </a>
      <span class="d-flex align-items-center">
        <b>Mode:</b>
        <i
          [class]="'fa fa-' + (mode === 'dark' ? 'moon' : 'sun') + '-o'"
          (click)="changeMode(mode)"
          aria-hidden="true"
        ></i>
      </span>
    </div>
  </div>
</nav>
