.nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: white;
  box-shadow: 0px 5px 10px rgb(154 161 177 / 10%);
  transition: background-color 1s ease;
  .contact {
    i {
      margin: 0 0.5rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
    .git-dark {
      color: #fff;
    }
    .git-light {
      color: #fc6d25;
    }
    .linkedin-dark {
      color: #fff;
    }
    .linkedin-light {
      color: #0b65c2;
    }
    .fa-sun-o {
      color: #f59e0b;
    }
    .fa-moon-o {
      color: #fff;
    }
  }
}
