.user-source {
  .user {
    line-height: initial;
    padding-bottom: 1rem;
    strong {
      color: #000;
    }
    .username {
      color: #a6a6a6;
      font-size: 14px;
    }
    .username:hover {
      color: #000;
      cursor: pointer;
    }
  }
  .source {
    padding-top: 1rem;
    .title {
      color: #a6a6a6;
      font-size: 14px;
    }
    a {
      color: black;
      display: flex;
      span {
        font-size: 14px;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-left: 0.25rem;
        font-weight: bold;
      }
    }
  }
}
.gif {
  .name {
    color: #a6a6a6;
    font-weight: bold;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 1rem 0;
  }
}
.info-action {
  .info {
    line-height: 1.75rem;
    padding-bottom: 1rem;
  }
  .action {
    padding: 1rem 0;
    .detail-action {
      margin-bottom: 0.5rem;
      img {
        margin-right: 1rem;
        width: 1rem;
      }
    }
  }
}
.related-gifs {
  margin-top: 4rem;
  margin-bottom: 4rem;
  .title {
    font-size: 17px;
    font-weight: 700;
    color: #92949c;
  }
}
i {
  font-size: 1rem;
}
