<div
  *ngIf="gif$ | async as gif"
  class="container m-auto d-flex my-4 justify-content-between"
>
  <div class="col-3 user-source d-flex flex-column">
    <a
      class="user d-flex align-items-start border-bottom"
      *ngIf="gif.user"
      [href]="gif.user.profile_url"
    >
      <img [src]="gif.user.avatar_url" alt="" width="50px" height="50px" />
      <div class="mx-3">
        <strong>{{ gif.user.display_name }}</strong
        ><br />
        <span class="username">@{{ gif.user.username }}</span>
      </div>
    </a>
    <div class="source">
      <span class="title">Source </span><br />
      <a
        [href]="gif.source || gif.user?.profile_url || gif.bitly_url"
        target="_blank"
      >
        <i class="fa fa-share-square-o" aria-hidden="true"></i>
        <span>
          {{ gif.source || gif.user?.profile_url || gif.bitly_url }}</span
        ></a
      >
    </div>
  </div>
  <div class="col-4 gif">
    <img
      [src]="gif.images.original.url"
      class="w-100"
      [alt]="gif.title"
      loading="lazy"
    />
    <span class="name">{{ gif.title }}</span>
  </div>
  <div class="col-3 info-action">
    <div class="info d-flex flex-column border-bottom">
      <span
        ><b>Dimensions: </b>{{ gif.images.original.width }}px x
        {{ gif.images.original.height }}px</span
      >
      <span
        ><b>Uploaded: </b>{{ gif.import_datetime | date: "dd/MM/YYYY" }}</span
      >
      <span><b>Size:</b> {{ gif.images.original.size | filesize }}</span>
      <span
        ><b>Rating:</b>
        <span class="text-uppercase"> {{ gif.rating }}</span></span
      >
      <span
        ><b>Frames:</b>
        <span class="text-uppercase">
          {{ gif.images.original.frames }}</span
        ></span
      >
    </div>
    <div class="action">
      <div
        class="detail-action cursor-pointer"
        (click)="copy(gif.images.original.url)"
      >
        <i class="fa fa-link" aria-hidden="true"></i>
        Copy
      </div>
      <div class="detail-action cursor-pointer" (click)="share(gif.url)">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
        Share Facebook
      </div>
      <div
        class="detail-action cursor-pointer"
        (click)="
          saveFile(gif.title, gif.images.original.url.replace('media4', 'i'))
        "
      >
        <i class="fa fa-download" aria-hidden="true"></i>
        Download
      </div>
    </div>
  </div>
</div>
<div class="container related-gifs">
  <div class="w-100 border-bottom"></div>
  <div class="title text-uppercase text-center my-3">Related GIFs</div>
  <div
    class="d-flex flex-wrap container m-auto justify-content-center align-items-start"
  >
    <item-gif
      (click)="goTo(gif.id)"
      class="position-relative cursor-pointer"
      *ngFor="let gif of (relatedGifs$ | async)?.data || []"
      [gif]="gif"
    ></item-gif>
  </div>
</div>
