.user-gif {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 100;
  .avatar-user {
    width: 3rem;
    height: 3rem;
  }
  .display-name {
    font-weight: 700;
    font-size: 0.75rem;
    color: white;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
