<div class="m-2" (mouseenter)="changeHover()" (mouseleave)="changeHover()">
  <img
    [src]="gif.images.fixed_height.url"
    style="border-radius: 5px"
    [alt]="gif.title"
    loading="lazy"
  />
  <div
    class="user-gif"
    *ngIf="hover"
    [style]="
      'width:' +
      gif.images.fixed_height.width +
      'px;height:' +
      gif.images.fixed_height.height +
      'px'
    "
  >
    <div></div>
    <div class="d-flex align-items-center p-3" *ngIf="gif.user">
      <img
        [src]="gif.user?.avatar_url"
        [alt]="gif.user?.display_name"
        class="avatar-user rounded-circle"
      />
      <span class="display-name mx-3">{{ gif.user?.display_name }}</span>
    </div>
  </div>
</div>
