// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gifs-social-media-primary: mat.define-palette(mat.$indigo-palette);
$gifs-social-media-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$gifs-social-media-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gifs-social-media-theme: mat.define-light-theme(
  (
    color: (
      primary: $gifs-social-media-primary,
      accent: $gifs-social-media-accent,
      warn: $gifs-social-media-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($gifs-social-media-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  transition: all 1s ease;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none !important;
}
.cursor-pointer {
  cursor: pointer;
}
.style-success {
  color: white;
  background-color: #2dd36f;
}
.style-faild {
  color: white;
  background-color: #eb445a;
}
body.dark {
  background-color: #23222b !important;
  .nav-bar {
    background-color: #23222b !important;
    color: #ffff !important;
  }
  .container {
    color: #ffff !important;
  }
  a {
    color: #ffff !important;
  }
  strong {
    color: #ffff !important;
  }
  .username:hover {
    color: #fff !important;
  }
}
